@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Baloo+Chettan|Quicksand|Righteous");

*,
::after,
::before {
	box-sizing: border-box;
}

html,
body {
	font-family: "Quicksand", sans-serif;
	/* font-family: 'Righteous', cursive; */
	/* font-family: 'Baloo Chettan', cursive; */
	/* font-family: 'Alfa Slab One', cursive; */
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;

	body {
		margin: 0;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		text-align: left;
	}
}

#app {
	background-color: #e7f6f6;
	color: #ccc;
	padding: 10px;
	overflow: hidden;

	h1,
	h2,
	h3 {
		text-transform: uppercase;
		color: #24345a;
		text-align: center;
	}

	#fixtures,
	#schedules {
		font-size: 15px;
	}
}
