.banner {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	width: 100%;
	margin: 30px auto;
	text-align: center;

	.banner-vs {
		padding-top: 150px;
	}

	.banner-home h2,
	.banner-away h2 {
		margin-top: 30px;
		font-weight: bold;
	}
}

@media (max-width: 920px) {
	.banner {

		.banner-vs {
            padding-top: 100px;
		}

		.banner-home h2,
		.banner-away h2 {
			margin: 0;
		}

		img {
            height: 200px;
		}
	}
}

@media (max-width: 640px) {
	.banner {

		.banner-vs {
			padding-top: 25px;
		}

		.banner-home h2,
		.banner-away h2 {
			display: none;
		}

		img {
            height: 100px;
		}
	}
}

@media (max-width: 400px) {
    .banner {
        .banner-vs {
            display: none;
        }
    }
}