#app #fixtures {
    margin-top: 50px;
}

#app #fixtures .timeline {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 230px;
    position: relative;
    margin-top: 30px;
}

#app #fixtures .timeline:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border: 1px dashed #778aa2;
    left: 50%;
}

#app #fixtures .timeline a:hover {
    color: #fff;
    text-decoration: none;
}

#app #fixtures .timeline .timeline-item {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

#app #fixtures .timeline .timeline-item .timeline-fixture {
    background-color: #778aa2;
    text-align: center;
    height: 90px;
    line-height: 90px;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 920px) {

    #app #fixtures .timeline .timeline-item.odd {
        grid-template-columns: 0 auto 30%;
    }

    #app #fixtures .timeline .timeline-item.even {
        grid-template-columns: 30% auto 0;
    }

    #app #fixtures .timeline .timeline-item .timeline-fixture {
        line-height: 20px;
        font-size: 15px;
        padding: 15px;
    }

    #app #fixtures .timeline .timeline-item .timeline-fixture span {
        display: block;
    }
}

/* #app #fixtures .timeline .timeline-item.Real.Madrid .timeline-fixture {
    background-color: #fff;
    color: #00529F;
}

#app #fixtures .timeline .timeline-item.Barcelona .timeline-fixture {
    background-color: #004D98;
    color: #A50044;
} */

#app #fixtures .timeline .timeline-item .timeline-fixture.even {
    margin-top: 115px;
}

#app #fixtures .timeline .timeline-item .even-line, #app #fixtures .timeline .timeline-item .odd-line {
    border: 1px dashed #778aa2;
    height: 1px;
    position: relative;
    margin-top: 160px;
    color: #fff;
    text-decoration: none;
}

#app #fixtures .timeline .timeline-item .odd-line {
    margin-top: 45px;
}

#app #fixtures .timeline .timeline-item .odd-line .time, #app #fixtures .timeline .timeline-item .even-line .time  {
    position: absolute;
    background-color: #34404e;
    padding: 5px 10px;
    border: 1px dashed #778aa2;
    top: -17px;
    border-radius: 3px;
}

#app #fixtures .timeline .timeline-item .odd-line .time {
    right: -41px;
}

#app #fixtures .timeline .timeline-item .even-line .time {
    left: -41px;
}